---
import { getCollection } from 'astro:content';
import BaseLayout from '@src/BaseLayout.astro';
import BlogList from '@components/BlogList.astro';
import TilList from '@components/TilList.astro';

const allBlogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const longPosts = allBlogs.filter((blog) => !blog.data.isTil);
const shortTils = allBlogs.filter((blog) => blog.data.isTil);
---

<BaseLayout>
	<style slot="style">
		.title-til {
			margin-top: 0;
		}

		.title-long {
			margin-top: 3em;
		}
	</style>

	<main>
		<h2 class="title-til">TIL - short nuggets</h2>
		<TilList posts={shortTils}></TilList>
		<h2 class="title-long">Deep dive articles</h2>
		<BlogList posts={longPosts}></BlogList>
	</main>
</BaseLayout>
