---
import { getCollection } from 'astro:content';
import BaseLayout from '@src/BaseLayout.astro';
import Background3D from '@components/Background3D.astro';

---

<BaseLayout>
	<style slot="style">
		div {
			padding: 5em 0;
			font-size: 1.1em;
      text-align: center;
		}
	</style>

	<div>
		<h1>Page not found 🥲...</h1>
		<p>
			<a href="/">Back to home</a>
		</p>
	</div>
	<!-- <Background3D /> -->
</BaseLayout>
