---
import { getCollection } from 'astro:content';
import BaseLayout from '@src/BaseLayout.astro';
import BlogList from '@components/BlogList.astro';
import Works from '@components/Works.astro';

const posts = (await getCollection('blog', ({data}) => data.isFeatured)).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
	<style slot="style">
		.intro {
			padding: 8em 0;
			font-size: 1.1em;
		}
		
		.note {
			font-size: .9em;
		}

		h2 {
			font-size: 1.7em;
			margin-top: 5em;
		}

		h2 a {
			font-size: 1.2rem;
			margin-left: .5em;
			text-decoration: none;
		}
	</style>

	<main>
		<div class="intro">
			<h1>Hey there! I'm Yangguang Li</h1>
			<p>A frontend expert with AI/LLM, full-stack, and UX experience - passionate about taking products from 0 to 1.</p>
			<p>
				Currently Staff Software Engineer @ Google, tech lead of <a href="https://ai.google.dev/aistudio" target="_blank" rel="noreferrer noopener">Google AI Studio</a>.
				See my <a href="/about" target="_blank" rel="noreferrer noopener">full resume</a>.
			</p>
		</div>
		<!-- <h2>Selected Works</h2>
		<Works /> -->
		<h2>Featured Blogs
			<a href="/blog">View all</a>
		</h2>
		<BlogList posts={posts}></BlogList>
	</main>
</BaseLayout>
