---
import { getCollection } from 'astro:content';
import BaseLayout from '@src/BaseLayout.astro';
import BlogList from '@components/BlogList.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout hideHeader>
	<style slot="style">
		.intro {
			padding: 5em 0;
			font-size: 1.1em;
		}
		
		.note {
			font-size: .9em;
		}
	</style>

	<div class="intro">
		<h1>Hey there! I'm Yangguang Li</h1>
		<p>
			80% web developer + 20% UX designer located in the San Francisco Bay Area.
		</p>
		<p>
			Currently Web Eng @ <a href="https://shv.com" target="_blank" rel="noreferrer">Sutter Hill Venture</a>, incubating AI focused startup ideas.
			<br>
			Ex - UX Engineer, Tech lead and manager @ <a href="https://www.google.com" target="_blank" rel="noreferrer">Google</a>.
		</p>
		<p>I write about tech I learned, most about web development.</p>
		<p class="note">(I just rebuit this site, and still touching up things 🚧😊)</p>
	</div>
	<main>
		<BlogList posts={posts}></BlogList>
	</main>
</BaseLayout>
