---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1>Hey there! I'm Yangguang Li</h1>
	<p>
		80% front-end engineer + 20% UX designer located in the San Francisco Bay Area.
	</p>
	<p>
		Currently Web Eng @ Sutter Hill Venture, incubating AI focused startup ideas.
		<br>
		Ex - UX Engineer, Tech lead and manager @ Google.
	</p>
	<p>I write about web development and more.</p>
</BaseLayout>
