---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {external?: boolean};

const { href, class: className, external, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} target={external ? '_blank' : '_self'} rel="noreferrer" {...props}>
	<slot />
</a>

<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
