---
import HeaderLink from '@components/HeaderLink.astro';
---

<style>
	header, div {
		display: flex;
		justify-content: space-between;
		gap: 1em;
	}

	a, a:visited {
		text-decoration: none;
		font-weight: bold;
		color: var(--text);
		transition: color var(--transition);
	}

	header > a {
		text-decoration: none !important;
		font-size: 1.4em;
	}

	a:hover {
		color: var(--accent);
	}
</style>

<header>
	<HeaderLink href="/">yangguang.li</HeaderLink>
	<div>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">Resume</HeaderLink>
	</div>
</header>
