---
import HeaderLink from '@components/HeaderLink.astro';
---

<style>
	header {
		display: flex;
		align-items: center;
		gap: 1em;
	}

	a, a:visited {
		text-decoration: none;
		font-weight: bold;
		color: var(--text);
		transition: color var(--transition);
	}

	.title {
		text-decoration: none !important;
		font-size: 1.4em;
	}
	
	.grow {
		flex-grow: 1;
	}

	a:hover {
		color: var(--accent);
	}

	@media screen and (max-width: 400px) {
		.home {
			display: none;
		}
	}
</style>

<header>
	<HeaderLink href="/" class="title">yangguang.li</HeaderLink>
	<div class="grow"></div>
	<HeaderLink href="/" class="home">Home</HeaderLink>
	<HeaderLink href="/blog">Blog</HeaderLink>
	<HeaderLink href="/about">Resume</HeaderLink>
</header>
