---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="left">
		<h2>{SITE_TITLE}</h2>
	</div>
	<nav>
		<HeaderLink href="/">About</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
</header>
<style>
	header {
		display: flex;
		align-items: center;
	}

	.left {
		flex: 1;
	}
</style>
