---
import { slugify } from '@src/shared';

type Props = {tags: string[]};
const { tags } = Astro.props;
---

<ul>
  {
    tags.map((tag) => (
      <li>
        <a href={`/tag/${slugify(tag)}`}>{tag}</a>
      </li>
    ))
  }
</ul>
<style>
  ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    gap: .5em;
    padding-left: 0;
  }

	a {
		display: inline-block;
    border: 1px solid currentColor;
		text-decoration: none;
    padding: 0 .5em;
    transition: background-color var(--transition), color var(--transition);
	}

  a:hover {
    background: var(--accent);
    color: white;
  }
</style>
