---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Tags from '@components/Tags.astro';

type Post = CollectionEntry<'blog'>;
type Props = {posts: Post[]};

const posts = Astro.props.posts;

---
<div class="scroll-container">
  <ul>
    {
      posts.map((post: Post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>
            <span class="title">{post.data.title}</span>
            <span class="metadata-row">
              <FormattedDate date={post.data.pubDate} />
              &nbsp;|&nbsp;
              {post.data.tags}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .scroll-container {
    overflow-x: auto;
  }

  ul {
    list-style-type: none;
    padding: unset;
    display: flex;
    gap: 1em;
  }

  li {
    --width: 14em;
    flex: 0 0 var(--width);
    width: var(--width);
    aspect-ratio: 2/1;
    border: 1px solid currentColor;
  }

  
	a, a:visited {
    padding: 1em;
		text-decoration: none;
		color: var(--text);
		transition: color var(--transition);
    display: flex;
    flex-direction: column;
    height: 100%;
	}

	a:hover {
		color: var(--accent);
	}

  .title {
    flex: 1;
		font-weight: bold;
  }

  .metadata-row {
    color: #777;
    font-size: .8em;
    font-weight: normal;
  }
</style>
