---
/* This is the blog list page. */

import { CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogList from '../../components/BlogList.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	const tags = Array.from(new Set(posts.map((p) => p.data.tags).flat()));
	return tags.map((tag) => ({
		params: { tag },
		props: { posts: posts.filter((p) => p.data.tags.includes(tag)) },
	}));
}

type Props = {posts: Array<CollectionEntry<'blog'>>};

const posts = Astro.props.posts;
---

<BaseLayout>
	<section>
		<BlogList posts={posts}></BlogList>
	</section>
</BaseLayout>
