---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@src/shared';

type Props = {hideHeader?: boolean};
const { hideHeader } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <slot name="style"/>
	</head>

	<body>
		<!-- The empty div is kept as a grid row holder. -->
		{hideHeader ? <div></div> : <Header />}
		<!-- This extra div is grid row holder. -->
		<div class="content">
      <slot />
		</div>
		<Footer />
		<!-- Google tag (gtag.js) https://analytics.google.com/analytics/web/#/p395677361/reports/intelligenthome -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-FB9DL0DKLS"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-FB9DL0DKLS');
		</script>
	</body>
</html>
