---
import Html from './Html.astro';
import { VsCodePanels } from '@components/VsCodePanels';
---

<Html>
	<style>
		.page {
			height: 100dvh;
			display: grid;
			align-items: center;
			justify-items: center;
		}
			
		.window {
			display: grid;
			grid-template-rows: auto 1fr auto;
			height: calc(100dvh - 6em);
			width: calc(100dvw - 6em);
  		background: #111;
  		color: #ddd;
		}

		.window-header {
			display: flex;
		}

		.status-bar {
			display: flex;
		}
	</style>

	<div class="page">
		<div class="window">
			<div class="window-header">
				<div class="window-controls">
					<div class="dot -red"></div>
					<div class="dot -yellow"></div>
					<div class="dot -green"></div>
				</div>
				<div class="title">Yangguang Li</div>
				<div></div>
			</div>
			<VsCodePanels client:load>
				<slot slot="mainContent" />
			</VsCodePanels>
			<div class="status-bar">
				<div>
					<p>git: main</p>
					<p>Last updated: 2024</p>
				</div>
				<div>
					<p>UTF-8</p>
					<p>20 lines, 3000 chars</p>
				</div>
			</div>
		</div>
	</div>
</Html>
